.container .btn_orange{
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: linear-gradient(145deg, #2e2e3d, #373749);
  color: #DD7346;
  border: solid #DD7346 1px;
  animation: ease-in-out;
  transition: 200ms;
}
  
.container .btn_cyan{
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: linear-gradient(145deg, #2e2e3d, #373749);
  color: #2ED0D0;
  border: solid #2ED0D0 1px;
  animation: ease-in-out;
  transition: 200ms;
}
  
.container .btn_orange:hover{
  background: #DD7346;
  color: #fff;
}

.container .btn_cyan:hover{
  background: #2ED0D0;
  color: #fff;
}

