input {
  min-height: 40px;
  max-height: 40px;
  max-width: 200px;
  min-width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  animation: ease-in-out;
  transition: 200ms;
}

.input_orange {
  border-radius: 20px;
  outline: none;
  background: none;
  color: #dd7346;
  box-shadow: 0px 0px 0px 1px #dd7346;
}

.input_cyan {
  border-radius: 20px;
  outline: none;
  background: none;
  color: #2ed0d0;
  box-shadow: 0px 0px 0px 1px #2ed0d0;
}

.input_white {
  border-radius: 20px;
  outline: none;
  background: none;
  color: #eeeeee;
  box-shadow: 0px 0px 0px 1px #fff;
  border: none;
}

input::placeholder {
  color: #dddddd;
  text-align: center;
}

input:focus::placeholder {
  color: #00000000;
  animation: ease-in-out;
  transition: 200ms;
}

input:focus{
  padding-left: 16px;
  min-width: 192px;
  max-width: 192px;
}

button {
  animation: ease-in-out;
  transition: 200ms;
}

.btn_orange {
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: none;
  color: #dd7346;
  border: solid #dd7346 1px;
  cursor: pointer;
}

.btn_cyan {
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: none;
  color: #2ed0d0;
  border: solid #2ed0d0 1px;
  cursor: pointer;
}

.btn_orange:hover {
  background: #dd7346;
  color: #fff;
}

.btn_cyan:hover {
  background: #2ed0d0;
  color: #fff;
}

select {
  max-height: 40px;
  min-height: 40px;
  text-align: center;
  border-radius: 20px;
  outline: none;
  background: none;
  color: #eeeeee;
  border: solid #eeeeee 1px;
}

option {
  background-color: #333344;
}

a {
  font-size: 11pt;
}

a:link {
  color: #ddd;
}

a:visited {
  color: #ddd;
}