#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ddd;
}

.container{
  width: 240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

body{
  background-color: #333344;
}

.container input{
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 16px;
background: #333344;
box-shadow:  10px 10px 20px #23232e,
             -10px -10px 20px #43435a;
  color: #ddd;
  animation: ease-in-out;
  transition: 500ms;
}

.container input::placeholder{
  color: #ddd;
  text-align: center;
  transition: 200ms;
}

.container input:focus::placeholder{
  color: #00000000;
}

.container button{
  border-radius: 16px;
  background: linear-gradient(145deg, #2e2e3d, #373749);
  box-shadow:  10px 10px 20px #23232e,
             -10px -10px 20px #43435a;
  color: #ddd;
}