#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ddd;
}

.container{
  width: 240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

body{
  background-color: #333344;
}

.container input{
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: #333344;
  border: solid #DD7346 1px;
  color: #fff;
}

.container input::placeholder{
  color: #DD7346;
  text-align: center;
  transition: 200ms;
  
}

.container input:focus::placeholder{
  color: #00000000;
}

.container button{
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: linear-gradient(145deg, #2e2e3d, #373749);
  color: #DD7346;
  border: solid #DD7346 1px;
  animation: ease-in-out;
  transition: 200ms;
}

.container h1{
  color: #ddd;
}

.container button:hover{
  background: #DD7346;
  color: #fff;
}